<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        TRIPS
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>DATE</ion-label>
            <ion-label>TIME (mins)</ion-label>
            <ion-label>DIF. (mins)</ion-label>
          </ion-item>
        <ion-item>
            <ion-label>Nov. 4/19</ion-label>
          <ion-label>46</ion-label>
          <ion-label color = "success">-1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Nov. 5/19</ion-label>
            <ion-label>43</ion-label>
            <ion-label color = "danger">+2</ion-label>

          </ion-item>
        <ion-item>
            <ion-label>Nov. 6/19</ion-label>
            <ion-label>44</ion-label>
            <ion-label color = "danger">+1</ion-label>

          </ion-item>
        <ion-item>
            <ion-label>Nov. 7/19</ion-label>
            <ion-label>50</ion-label>
            <ion-label color = "danger">+5</ion-label>

          </ion-item>
        <ion-item>
            <ion-label>Nov. 8/19</ion-label>
            <ion-label>38</ion-label>
            <ion-label color = success>-7</ion-label>

          </ion-item>
      </ion-list>

</ion-content>
