<p>

</p>

        <ion-avatar>
    <img src="https://content-static.upwork.com/blog/uploads/sites/4/2014/10/27173913/BLOG-Upwork-profile-photo-face.png" alt="description">
        </ion-avatar>

        <ion-text color="primary">
          <h1>Meghan Young</h1>
        </ion-text>

        <p>
          Rate Your Ride
        </p>
      
         <ion-icon name="star-outline"></ion-icon>

          <p>
              Vancouver, BC
           </p>
           <ion-item>
              <ion-label position="floating">Date</ion-label>
              <ion-datetime></ion-datetime>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Additional Comments</ion-label>
              <ion-input></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label>Arrived on time?</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>


            <ion-button>
              Submit
            </ion-button>

