<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        MESSAGES
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
   <ion-list>
        <ion-list-header>
          Recent Conversations
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <!-- <img src="./avatar-finn.png"> -->
            <ion-icon name="contact"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>John Doe</h2>
            <h3>Great ride!</h3>
            <p>Very smooth ride</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <!-- <img src="./avatar-han.png"> -->
            <ion-icon name="contact"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>Mike Smith</h2>
            <h3>4/5</h3>
            <p>Please drive slower! </p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <!-- <img src="./avatar-rey.png"> -->
            <ion-icon name="contact"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>George Jacobs</h2>
            <h3>Space available</h3>
            <p>Do you have more space for me?</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <!-- <img src="./avatar-luke.png"> -->
            <ion-icon name="contact"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>Peter Luu</h2>
            <h3>Schedule Change</h3>
            <p>Gonna be on vacation for a week...</p>
          </ion-label>
        </ion-item>
      </ion-list>

</ion-content>
